<div class="container">
  <h1>試験日時の修正</h1>

  <%= form_for [:admin, @exam_date] do |form| %>

  <%= render 'form', form: form %>

  <p><font color=#ff0000>この修正により、関連する過去問全てに影響が生じます。注意してください。</font></p>
  <%= form.submit %>

  <% end %>
</div>
