# Ignore bundler config.
.bundle

# Ignore bundler gems.
vendor/bundle
vendor

# Ignore the default SQLite database.
Kakomon/db/*.sqlite3
Kakomon/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
Kakomon/log/*.log
Kakomon/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

